<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baseball Assistant</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="/static/favicons/favicon.ico">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="{{ url_for('static', filename='images/baseball-assistant.png') }}" alt="Baseball Assistant Logo" class="logo-image">
            </a>
        </div>
        <nav>
            <div class="league">
                <h1>American League</h1>
                <div class="division-container">
                    <div class="division" id="east">
                        <div class="division-title">East</div>
                        <ul class="teams">
                            <li class="orioles"><a href="/team/orioles">Baltimore Orioles</a></li>
                            <li class="red-sox"><a href="/team/red-sox">Boston Red Sox</a></li>
                            <li class="yankees"><a href="/team/yankees">New York Yankees</a></li>
                            <li class="rays"><a href="/team/rays">Tampa Bay Rays</a></li>
                            <li class="blue-jays"><a href="/team/blue-jays">Toronto Blue Jays</a></li>
                        </ul>
                    </div>
                    <div class="division" id="central">
                        <div class="division-title">Central</div>
                        <ul class="teams">
                            <li class="white-sox"><a href="/team/white-sox">Chicago White Sox</a></li>
                            <li class="guardians"><a href="/team/guardians">Cleveland Guardians</a></li>
                            <li class="tigers"><a href="/team/tigers">Detroit Tigers</a></li>
                            <li class="royals"><a href="/team/royals">Kansas City Royals</a></li>
                            <li class="twins"><a href="/team/twins">Minnesota Twins</a></li>
                        </ul>
                    </div>
                    <div class="division" id="west">
                        <div class="division-title">West</div>
                        <ul class="teams">
                            <li class="athletics"><a href="/team/athletics">Athletics</a></li>
                            <li class="astros"><a href="/team/astros">Houston Astros</a></li>
                            <li class="angels"><a href="/team/angels">Los Angeles Angels</a></li>
                            <li class="mariners"><a href="/team/mariners">Seattle Mariners</a></li>
                            <li class="rangers"><a href="/team/rangers">Texas Rangers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="league">
                <h1>National League</h1>
                <div class="division-container">
                    <div class="division" id="east">
                        <div class="division-title">East</div>
                        <ul class="teams">
                            <li class="braves"><a href="/team/braves">Atlanta Braves</a></li>
                            <li class="marlins"><a href="/team/marlins">Miami Marlins</a></li>
                            <li class="mets"><a href="/team/mets">New York Mets</a></li>
                            <li class="phillies"><a href="/team/phillies">Philadelphia Phillies</a></li>
                            <li class="nationals"><a href="/team/nationals">Washington Nationals</a></li>
                        </ul>
                    </div>
                    <div class="division" id="central">
                        <div class="division-title">Central</div>
                        <ul class="teams">
                            <li class="cubs"><a href="/team/cubs">Chicago Cubs</a></li>
                            <li class="reds"><a href="/team/reds">Cincinnati Reds</a></li>
                            <li class="brewers"><a href="/team/brewers">Milwaukee Brewers</a></li>
                            <li class="pirates"><a href="/team/pirates">Pittsburgh Pirates</a></li>
                            <li class="cardinals"><a href="/team/cardinals">St. Louis Cardinals</a></li>
                        </ul>
                    </div>
                    <div class="division" id="west">
                        <div class="division-title">West</div>
                        <ul class="teams">
                            <li class="diamondbacks"><a href="/team/diamondbacks">Arizona Diamondbacks</a></li>
                            <li class="rockies"><a href="/team/rockies">Colorado Rockies</a></li>
                            <li class="dodgers"><a href="/team/dodgers">Los Angeles Dodgers</a></li>
                            <li class="padres"><a href="/team/padres">San Diego Padres</a></li>
                            <li class="giants"><a href="/team/giants">San Francisco Giants</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <footer>
        <p>&copy; 2025 <a href="https://www.ericterranova.com" target="_blank">Eric Terranova</a>. All rights reserved.</p>
    </footer>
</body>
</html>